@charset "UTF-8";
/* CSS Document */

/*
#main_image {
  background-image: url(../images/main/access_image.jpg);
}
*/

#contents {
	background: #fff;
}

#contents_reservation {
	margin: 30px 30px 30px 30px;
	padding: 0;
	width: 900px;
	background: #ccc;
	color: #555;
}

#title {
	width: 900px;
	height: 40px;
	padding: 0;
	margin: 0;
	position: relative;
	background: #fff;
	color: #555;
}

#detail {
	width: 900px;
	padding: 0;
	margin: 10px 0 0 0;
	position: relative;
	background: #fff;
	color: #555;
	overflow: hidden;
}

#message {
	width: 400px;
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
	background: #fff;
	color: #555;
}

.message1 {
	width: 400px;
	margin: 0px 0px 10px 0px;
	padding: 0;
	position: relative;
	background: #fff;
	color: #555;
}

#map {
	width: 500px;
	height: 430px;
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
	background: #fff;
}